.container-fluid.vh-100
  .row.align-items-center.h-100.text-center
    .col-6.h-100.border-end.border-5.border-dark.d-flex.flex-column.justify-content-center
      %h1= 'Milhas321'
      %h3= 'Bem-vindo'
    .col-6.h-100.d-flex.flex-column.justify-content-center
      %p
        = 'Ainda não tem conta?'
        = link_to 'Crie uma', signup_path
      %h2= 'Login'
      = form_tag sessions_path do |form|
        .d-grid.w-50.mx-auto
          = text_field_tag :email, nil, placeholder: 'Email', class: 'form-control mb-2'
          = password_field_tag :password, nil, placeholder: 'Senha', class: 'form-control'
          = submit_tag 'Entrar', class: 'btn btn-dark mt-5'
