= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'Nome'
    = form.text_field :name
  .field
    = form.label :email
    = form.email_field :email
  .field
    = form.label 'Tipo de usuário'
    = form.select :user_type, [ ['Usuário', 0], ['Companhia Aérea', 1] ]
  .field
    = form.label 'CPF/CNPJ'
    = form.number_field :cpf_cnpj
  .field
    = form.label 'Senha'
    = form.password_field :password
  .field
    = form.label 'Confirmação da senha'
    = form.password_field :password_confirmation
  .actions
    = form.submit 'Enviar'
