= form_with(model: user, local: true) do |form|
  .d-grid.mx-auto.text-start
    .mb-2
      = form.label 'Nome', class: 'form-label'
      = form.text_field :name, class: 'form-control'
    .mb-2
      = form.label :email, class: 'form-label'
      = form.email_field :email, class: 'form-control'
    .mb-2
      = form.label 'Tipo de usuário', class: 'form-label'
      = form.select :user_type, [ ['Usuário', 0], ['Companhia Aérea', 1] ], {}, class: 'form-select'
    .mb-2
      = form.label :cpf_cnpj, 'CPF/CNPJ', class: 'form-label'
      = form.number_field :cpf_cnpj, class: 'form-control'
    - if current_user&.is_support?
      .mb-2
        = form.label 'Milhas', class: 'form-label'
        = form.number_field :miles, min: 0, value: user.miles, class: 'form-control'
    .mb-0
      = form.label 'Senha', class: 'form-label'
      = form.password_field :password, class: 'form-control'
    = form.submit 'Enviar', class: 'btn btn-dark mt-5'
