%h1 Milhas
%h3= "Milhas atuais: #{@user.miles.to_s}"

%h3 Resgatar
= render 'redeem_miles_form', user: @user
%br
%h3 Vender
= render 'sell_miles_form', user: @user
%br
%h3 Suas milhas em venda
- unless @miles_offers.present?
  = 'Você não possui milhas em venda'
-else
  - @miles_offers.each do |offer|
    = offer.quantity  
    = button_to 'Cancelar venda', offer, method: :delete, data: {confirm: 'Tem certeza que deseja cancelar essa venda?'}

= link_to 'Voltar', user_path(@user)