.container.mt-5
  %h1 Meu histórico de passagens
  - unless @ticket_purchases.empty?
    - @ticket_purchases.each do |tp|
      .ticket.row
        .col-sm-2
          .row
            .name= tp.ticket.airline.name
          .row
            .flight= tp.ticket.flight
        .col-sm-3
          .row
            .max-cancel-title= 'Data máxima de cancelamento'
            .max-cancel= tp.ticket.max_cancellation_date
          .row
            .departure-title= 'Data de partida'
            .departure= tp.ticket.departure
        .col-sm-2
          .row
            .from-title= "Origem"
            .from= tp.ticket.from
          .row
            .to-title= "Destino"
            .to= tp.ticket.to
        .col-sm-2.d-flex.align-items-center.justify-content-center
          .value= "R$ #{tp.ticket.value.round}"
        .col-sm-1.d-flex.align-items-center.justify-content-center.flex-column
          .details= link_to 'Detalhes', tp.ticket, class: 'btn btn-dark'
        .col-sm-2.d-flex.align-items-center
          .delete= link_to 'Cancelar', tp, method: :delete, class: 'btn btn-dark', data: { confirm: 'Tem certeza que deseja cancelar essa passagem?' }
  - else
    %p.mt-5= 'Você ainda não comprou nenhuma passagem.'
