%p
  %strong Nome:
  = @user.name
%p
  %strong Email:
  = @user.email
%p
  %strong CPF/CNPJ:
  = @user.cpf_cnpj
%p
  %strong Milhas:
  = @user.miles
%p
  %strong Tipo de usuário:
  = @user.type

= link_to 'Milhas', miles_user_path(@user)
|
= link_to 'Editar', edit_user_path(@user)
|
= link_to 'Voltar', users_path
