%p
  %strong Nome:
  = @user.name
%p
  %strong Email:
  = @user.email
%p
  %strong CPF/CNPJ:
  = @user.cpf_cnpj
%p
  %strong Milhas:
  = @user.miles
%p
  %strong Tipo de usuário:
  = @user.type
= link_to 'Editar', edit_user_path(@user)
|
= link_to 'Deletar conta', user_path(@user), method: :delete, data: {confirm: 'Tem certeza que deseja deletar esta conta?' }
