%h1 Gerenciamento

%h2 Milhas
%h3= "Valor atual da milha: R$#{@site.mile_price}"
= render 'sites/form', site: @site
= link_to 'Gerenciar lista de ofertas de milhas', miles_offers_path
%br
%br

%h2 Usuários
%table
  %thead
    %tr
      %th Email
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to 'Detalhes', user
        %td= link_to 'Editar', edit_user_path(user)
        %td= link_to 'Deletar', user, method: :delete, data: { confirm: 'Tem certeza?' }
%br

%h2 Companhias Aéreas
%table
  %thead
    %tr
      %th Nome
      %th CNPJ
      %th Usuário
      %th
      %th
      %th
  %tbody
    - @airlines.each do |airline|
      %tr
        %td= airline.name
        %td= airline.cnpj
        %td= airline.user.name
        %td= link_to 'Mostrar', airline
        %td= link_to 'Editar', edit_airline_path(airline)
        %td= link_to 'Destruir', airline, method: :delete, data: { confirm: 'Tem certeza?' }
%br

%h2 Passagens Aéreas
%table
  %thead
    %tr
      %th Companhia Aérea
      %th Voo
      %th Aeronave
      %th Lote
      %th Partida
      %th Data máxima para cancelamento
      %th Origem
      %th Destino
      %th Preço
      %th
      %th
      %th
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.airline.name
        %td= ticket.flight
        %td= ticket.airplane
        %td= ticket.batch
        %td= ticket.departure
        %td= ticket.max_cancellation_date
        %td= ticket.from
        %td= ticket.to
        %td= ticket.value
        %td= link_to 'Detalhes', ticket
        %td= link_to 'Editar', edit_ticket_path(ticket)
        %td= link_to 'Deletar', ticket, method: :delete, data: { confirm: 'Tem certeza?' }
%br