%br
%br
%br
%h1= 'Milhas321'
- if current_user
  = "Logado como #{current_user.email}."
  = link_to 'Sair', logout_path
- else
  = link_to 'Criar conta', signup_path
  ou
  = link_to 'Login', login_path
