%h1 Passagens Aéreas

.container
  - @tickets.each do |ticket|
    .ticket.row
      .col-sm-2
        .row
          .name= ticket.airline.name
        .row
          .flight= ticket.flight
      .col-sm-3
        .row
          .max-cancel-title= 'Data máxima de cancelamento'
          .max-cancel= ticket.max_cancellation_date
        .row
          .departure-title= 'Data de partida'
          .departure= ticket.departure
      .col-sm-2
        .row
          .from-title= "Origem"
          .from= ticket.from
        .row
          .to-title= "Destino"
          .to= ticket.to
      .col-sm-2.d-flex.align-items-center.justify-content-center
        .value= "R$ #{ticket.value.round}"
      .col-sm-1.d-flex.align-items-center.justify-content-center.flex-column
        .details= link_to 'Detalhes', ticket
        - if current_user.is_support?
          .edit= link_to 'Editar', edit_ticket_path(ticket)
          .delete= link_to 'Deletar', ticket, method: :delete, data: { confirm: 'Tem certeza?' }
      .col-sm-2.d-flex.align-items-center.justify-content-center
        .btn.btn-dark= link_to 'Comprar', buy_ticket_path(ticket)
    %br
