%p
  %b Companhia aérea:
  = @ticket.airline
%p
  %b Voo:
  = @ticket.flight
%p
  %b Aeronave:
  = @ticket.airplane
%p
  %b Lote:
  = @ticket.batch
%p
  %b Partida:
  = @ticket.departure
%p
  %b Data máxima para cancelamento:
  = @ticket.max_cancellation_date
%p
  %b Origem:
  = @ticket.from
%p
  %b Destino:
  = @ticket.to
%p
  %b Preço:
  = @ticket.value

= link_to 'Editar', edit_ticket_path(@ticket)
\|
= link_to 'Voltar', tickets_path
