= form_for @miles_offer do |f|
  - if @miles_offer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@miles_offer.errors.count, "error")} prohibited this miles_offer from being saved:"
      %ul
        - @miles_offer.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Quantidade
    = f.number_field :quantity
  .field
    = f.label :Disponível
    = f.check_box :available
  .field
    = f.label :Usuário
    - users_array = User.all.map{|u| [u.email, u.id]}
    = f.select :user_id, options_for_select(users_array)
  .actions
    = f.submit 'Salvar'
