= form_for @airline do |f|
  - if @airline.errors.any?
    #error_explanation
      %h2= "#{pluralize(@airline.errors.count, "error")} prohibited this airline from being saved:"
      %ul
        - @airline.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label 'Nome'
    = f.text_field :name
  .field
    = f.label 'CNPJ'
    = f.number_field :cnpj
  .actions
    = f.submit 'Salvar'
