%h1 Companhias Aéreas

%table
  %thead
    %tr
      %th Nome
      %th CNPJ
      %th Usuário
      %th
      %th
      %th

  %tbody
    - @airlines.each do |airline|
      %tr
        %td= airline.name
        %td= airline.cnpj
        %td= airline.user.name
        %td= link_to 'Mostrar', airline
        %td= link_to 'Editar', edit_airline_path(airline)
        %td= link_to 'Destruir', airline, method: :delete, data: { confirm: 'Tem certeza?' }

%br
