%h1 New ticket batch

= form_with(url: create_batch_airline_path(@airline), method: "post") do |f|
  .field
    = f.label :flight
    = f.text_field :flight
  .field
    = f.label :batch_size
    = f.number_field :batch_size
  .field
    = f.label :max_cancellation_date
    = f.datetime_select :max_cancellation_date
  .field
    = f.label :departure
    = f.datetime_select :departure
  .field
    = f.label :from
    = f.text_field :from
  .field
    = f.label :to
    = f.text_field :to
  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :airplane
    = f.text_field :airplane
  .actions
    = f.submit 'Save'

= link_to 'Back', airline_path(@airline)
