%p
  %b Nome:
  = @airline.name
%p
  %b CNPJ:
  = @airline.cnpj
%p
  %b Usuário:
  = @airline.user.name

= link_to 'Novo lote de passagens', new_batch_airline_path(@airline)
\|
= link_to 'Editar', edit_airline_path(@airline)
\|
= link_to 'Voltar', airlines_path
