.container.text-center.mt-5
  .h1= 'Companhia aérea'
  %p
    %b Nome:
    = @airline.name
  %p
    %b CNPJ:
    = @airline.cnpj
  %p
    %b Usuário:
    = @airline.user.name

  = link_to 'Editar linha aérea', edit_airline_path(@airline)
  \|
  = link_to 'Perfil do usuário da companhia aérea', user_path(current_user)
  \|
  = link_to 'Voltar', root_path
