- if current_user
  = link_to 'Home', root_path
  \|
  = link_to 'Passagens', tickets_path
  \|
  = link_to 'Perfil', user_path(current_user)
  \|
  = link_to 'Milhas', miles_user_path(current_user)
  - if current_user.is_support?
    \|
    = link_to 'Gerenciamento', dashboard_path
